<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item_category.name %>
</p>
<ul>
  <% @item_category.items.each do |item| %>
    <li><%= link_to item.title, item %></li>
  <% end %>
</ul>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_item_category_path(@item_category) %> |
  <%= link_to 'Back', item_categories_path %>
<% end %>
