<% if user_signed_in? %>
<nav><%= link_to 'New Item', new_item_path %></nav>
<% end %>
<div class="items">
<% @items.each do |item| %>
  <section class="item">
    <h1><%= link_to item.title, item %></h1>
    <div><%= item.content[0..140] %>...</div>
    <aside>
      <%= item.created_at.strftime '%Y-%b-%d (%a)' %>
    <% if user_signed_in? %>
      <%= link_to 'Edit', edit_item_path(item) %>
      <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    </aside>
  </section>
<% end %>
</div>
<%= paginate @items %>
