<article class="item">
  <h1><%= @item.title %></h1>
  <%= @item.content %>
  <aside>
    <%= link_to(@item.item_category.name, @item.item_category) if @item.item_category %>
    <%= @item.created_at.strftime '%Y-%b-%d (%a)' %>
  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_item_path(@item) %>
    <%= link_to 'Destroy', @item, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  </aside>
</article>
<p id="notice"><%= notice %></p>
<nav><%= link_to 'Back', items_path %></nav>
